apiVersion: v1
kind: PersistentVolume
metadata:
  name: "pihole"
  labels:
    type: "local"
spec:
  storageClassName: "manual"
  capacity:
    storage: "{{ volume_size }}"
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "{{ volume_data }}/pihole"