apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: "{{ target_namespace }}"
  name: "pihole"
spec:
  storageClassName: "manual"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ volume_size }}"